.titre {
    font-size: $num-1 + 3;
    color: $dark-blue;
    text-transform: uppercase;
    font-weight: $fw-1;
    text-align: center;
    width: $num-2 + 2;
    line-height: 114.99%;
    margin: 0 auto;
    font-family: $font-anton;
}