// Fichier _variables.scss contient toutes les variables utilisées dans le site web

// COULEURS
$beige: #F2E8D4;
$dark-blue: #212850;
$blue: #4197C8;
$white: #fff;

// FONT FAMILY
$font-anton: "Anton", sans-serif;
$font-outfit: "Outfit", sans-serif;

// FONT WEIGHT
$fw-1: 400;
$fw-2: 700;

// NOMBRES pour Width, Height, Margin, Padding, etc.
$num-1: 45px; 
$num-2: 700px;
$num-3: 50px;
$num-4: 195px;
$num-5: 220px;
$num-6: 100px;
$num-7: 130px;
$num-8: 16px;
$num-9: 10px;
$num-10: -25px;
$num-11: 375px;
$num-12: 20px;